.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  text-align: center;
  padding: 5px 10px;
  width: 100%;
  max-width: 266px;
  background-color: white;
  border: 1px solid black;
  list-style: none;
}
.listGroup{
  display: inline-block;
  position: relative;
  text-align: left;
}
.addButton {
  display: none;
}
.listGroup:hover .addButton {
  display: block;
  position:absolute;
  right: 0%;
  top: 20%;
}
.showLogin {
  display: block;
  color: green;
  font-weight: bold;

}
.cart {
  border: none ;
  background-color: #499C9A;
}
.search {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0 15px;
}
.search-container {
  background-color: #499C9A;
  color: #ccc;
  padding: 20px;
  font-weight: normal;
  line-height: 2;
  text-transform: uppercase;
  font-size: 90%;
  width: 100%;
  border: none;
}
.container-border {
  border: 1px solid #D6D9DC;
}